<table>
   <tr>
      <td>
      <h1>Staff Id:</h1>
      </td>
      <td>
         <h3>{{tablestaffid}}</h3>
      </td>
   </tr>
   <tr>
      <td>
         <h1>Staff Name:</h1>
      </td>
      <td>
         <h3>{{tablestaffname}}</h3>
      </td>
   </tr>
   <tr>
      <td>
         <h1>Staff Dept:</h1>
      </td>
      <td>
         <h3>{{tablestaffdept}}</h3>
      </td>
   </tr>
</table>
<!DOCTYPE html>
<html>
<body>
   <div class="table" align="center">
      <table border="5" cellspacing="0" align="center">
         <tr>
            <td align="center" height="50"
               width="100"><br>
               <b>Day/Period</b>
            </td>
            <td align="center" height="50"
               width="100">
               <b>I<br>9:00-9:50</b>
            </td>
            <td align="center" height="50"
               width="100">
               <b>II<br>9:50-10:40</b>
            </td>
            <td align="center" height="50"
            width="50">
            <b>10:40-10:55</b>
         </td>
            <td align="center" height="50"
               width="100">
               <b>III<br>10:55-11:45</b>
            </td>
            <td align="center" height="50"
               width="100">
               <b>IV<br>11:40-12:35</b>
            </td>
            <td align="center" height="50"
               width="50">
               <b>12:35-1:20</b>
            </td>
            <td align="center" height="50"
               width="100">
               <b>V<br>1:20-2:10</b>
            </td>
            <td align="center" height="50"
               width="100">
               <b>VI<br>2:10-3:00</b>
            </td>
            <td align="center" height="50"
            width="50">
            <b>3:00-3:15</b>
         </td>
            <td align="center" height="50"
               width="100">
               <b>VII<br>3:15-4:05</b>
            </td>
         </tr>
         <tr>
            <td align="center" height="50">
               <b>Monday</b></td>
            <td align="center" height="50">{{day1firstperioddept}},{{day1firstperiodsub}}</td>
            <td align="center" height="50">{{day1secondperioddept}},{{day1secondperiodsub}}</td>
            <td rowspan="6" align="center" height="50">
               <h2>B<br>R<br>E<br>A<br>K</h2>
            </td>
            <td align="center" height="50">{{day1thirdperioddept}},{{day1thirdperiodsub}}</td>
            <td align="center" height="50"> {{day1fourthperioddept}},{{day1fourthperiodsub}}</td>
            <td rowspan="6" align="center" height="50">
               <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td align="center" height="50">{{day1fifthperioddept}},{{day1fifthperiodsub}}</td>
            <td align="center" height="50">{{day1sixthperioddept}},{{day1sixthperiodsub}}</td>
                        <td rowspan="6" align="center" height="50">
               <h2>B<br>R<br>E<br>A<br>K</h2>
            </td>
            <td align="center" height="50">{{day1seventhperioddept}},{{day1seventhperiodsub}}</td>
         </tr>
         <tr>
            <td align="center" height="50">
               <b>Tuesday</b>
            </td>
            <td align="center" height="50">{{day2firstperioddept}},{{day2firstperiodsub}}</td>
            <td align="center" height="50">{{day2secondperioddept}},{{day2secondperiodsub}}</td>
            <td align="center" height="50">{{day2thirdperioddept}},{{day2thirdperiodsub}}</td>
            <td align="center" height="50">{{day2fourthperioddept}},{{day2fourthperiodsub}}</td>
            <td align="center" height="50">{{day2fifthperioddept}},{{day2fifthperiodsub}}</td>
            <td align="center" height="50">{{day2sixthperioddept}},{{day2sixthperiodsub}}</td>
            <td align="center" height="50">{{day2seventhperioddept}},{{day2seventhperiodsub}}</td>
         </tr>
         <tr>
            <td align="center" height="50">
               <b>Wednesday</b>
            </td>
            <td align="center" height="50">{{day3firstperioddept}},{{day3firstperiodsub}}</td>
            <td align="center" height="50">{{day3secondperioddept}},{{day3secondperiodsub}}</td>
            <td align="center" height="50">{{day3thirdperioddept}},{{day3thirdperiodsub}}</td>
            <td align="center" height="50">{{day3fourthperioddept}},{{day3fourthperiodsub}}</td>
            <td align="center" height="50">{{day3fifthperioddept}},{{day3fifthperiodsub}}</td>
            <td align="center" height="50">{{day3sixthperioddept}},{{day3sixthperiodsub}}</td>
            <td align="center" height="50">{{day3seventhperioddept}},{{day3seventhperiodsub}}</td>
         </tr>
         <tr>
            <td align="center" height="50">
               <b>Thursday</b>
            </td>
            <td align="center" height="50">{{day4firstperioddept}},{{day4firstperiodsub}}</td>
            <td align="center" height="50">{{day4secondperioddept}},{{day4secondperiodsub}}</td>
            <td align="center" height="50">{{day4thirdperioddept}},{{day4thirdperiodsub}}</td>
            <td align="center" height="50">{{day4fourthperioddept}},{{day4fourthperiodsub}}</td>
            <td align="center" height="50">{{day4fifthperioddept}},{{day4fifthperiodsub}}</td>
            <td align="center" height="50">{{day4sixthperioddept}},{{day4sixthperiodsub}}</td>
            <td align="center" height="50">{{day4seventhperioddept}},{{day4seventhperiodsub}}</td>
         </tr>
         <tr>
            <td align="center" height="50">
               <b>Friday</b>
            </td>
            <td align="center" height="50">{{day5firstperioddept}},{{day5firstperiodsub}}</td>
            <td align="center" height="50">{{day5secondperioddept}},{{day5secondperiodsub}}</td>
            <td align="center" height="50">{{day5thirdperioddept}},{{day5thirdperiodsub}}</td>
            <td align="center" height="50">{{day5fourthperioddept}},{{day5fourthperiodsub}}</td>
            <td align="center" height="50">{{day5fifthperioddept}},{{day5fifthperiodsub}}</td>
            <td align="center" height="50">{{day5sixthperioddept}},{{day5sixthperiodsub}}</td>
            <td align="center" height="50">{{day5seventhperioddept}},{{day5seventhperiodsub}}</td>
         </tr>
      </table>
   </div>

<div class="butts">
   <button class="back" (click)="back()" mat-raised-button color="accent">Back</button>
   <button class="print" (click)="print_bill()"  mat-raised-button color="accent">Print</button>

</div>



</body>

</html>